name: Reusable build workflow

on:
  workflow_call:
    inputs:
      runs_on:
        description: 'The runner to run on'
        required: true
        type: string
        default: 'ubuntu-24.04'
      platform:
        description: 'The buildx platform'
        required: true
        type: string
        default: 'linux/amd64'
      tag:
        description: 'The docker tag to add for the platform'
        required: true
        type: string
        default: 'amd64'
      version:
        description: 'The Kodi version'
        required: true
        type: string
        default: '20.0'
      codename:
        description: 'The Kodi codename'
        required: true
        type: string
        default: 'Nexus'
      cflags:
        description: 'C and CXX flags for cmake'
        type: string
        default: ''
      with_cpu:
        description: '-DWITH_CPU for cmake'
        type: string
        default: ''

jobs:
  build:
    runs-on: ${{ inputs.runs_on }}
    permissions:
      contents: read
      packages: write

    steps:
      -
        name: Checkout
        uses: actions/checkout@v4

      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      -
        name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      -
        name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          platforms: ${{ inputs.platform }}
          build-args: |
            BASE_IMAGE=ubuntu:24.04
            EASY_NOVNC_IMAGE=fhriley/easy-novnc:1.6.0
            PYTHON_VERSION=3.13
            KODI_BRANCH=${{ inputs.version }}-${{ inputs.codename }}
            CFLAGS=${{ inputs.cflags }}
            CXXFLAGS=${{ inputs.cflags }}
            WITH_CPU=${{ inputs.with_cpu }}
          tags: ghcr.io/${{ github.repository }}:${{ inputs.version }}-${{ inputs.tag }}
          cache-from: type=registry,ref=ghcr.io/${{ github.repository }}:cache-${{ inputs.codename }}-${{ inputs.tag }}
          cache-to: type=registry,mode=max,ref=ghcr.io/${{ github.repository }}:cache-${{ inputs.codename }}-${{ inputs.tag }}